[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = https server for test
[access "refs/*"]
	owner = group user/Hyunsang Youn (wizehack)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Hyunsang Youn (wizehack)
	label-Verified = -1..+1 group user/Hyunsang Youn (wizehack)
	push = group user/Hyunsang Youn (wizehack)
	read = group user/Hyunsang Youn (wizehack)
	rebase = group user/Hyunsang Youn (wizehack)
	removeReviewer = group user/Hyunsang Youn (wizehack)
	submit = group user/Hyunsang Youn (wizehack)
[access "refs/heads/*"]
	create = group user/Hyunsang Youn (wizehack)
	push = +force group user/Hyunsang Youn (wizehack)
	pushMerge = group user/Hyunsang Youn (wizehack)
	read = group user/Hyunsang Youn (wizehack)
[access "refs/tags/*"]
	push = group user/Hyunsang Youn (wizehack)
	push = +force group user/Hyunsang Youn (wizehack)
